nav {
  background: rgb(0, 0, 0);
  background: linear-gradient(10deg, rgba(0, 0, 0, 1) 53%, rgba(247, 13, 26, 1) 100%);

  ul {
    list-style-type: none;
  }

  li a {
    color: $white;
    font-size: $font-s;
    text-decoration: none;

    @media(min-width: $sm-width) {
      flex-direction: column !important;
    }
  }
}

.nav {
  a {
    padding-bottom: 5px;
  }

  a:hover,
  a:focus {
    color: $red;
    transition: 0.5s ease-in;
  }
}

.hamburger-react {
  color: $white;
  margin-top: 80px;

  @media(min-width: $sm-width) {
    display: none;
  }
}

.active {
  display: block !important;

  @media(min-width: $sm-width) {
    display: flex !important;
  }
}

.nav__bar {
  flex-direction: column;
  text-align: center;
  align-items: center;
  display: none;
  margin-top: 80px;


  @media(min-width: $sm-width) {
    display: flex;
    justify-content: flex-end;
    flex-direction: row !important;
    margin-top: 80px;
    margin-top: 5px;
  }
}

.socials__nav {
  margin-top: -140px;
}