nav{
  background: rgb(0,0,0);
  background: linear-gradient(10deg, rgba(0,0,0,1) 53%, rgba(247,13,26,1) 100%);

  ul{
     list-style-type: none;
  }

  li a{
    color: $white;
    font-size: 23px;
    text-decoration: none;

    @media(min-width: $sm-width){
    flex-direction: column !important;
    }
  }
}

.nav{
  a{
     padding-bottom: 5px;
  }

  a:hover{
     color: $red !important;
     transition: 0.5s ease-in;
  }
}

.hamburger-react{
  color: $white;
  margin-top: 72px;

  @media(min-width: $md-width){
    display: none;
  }
}

.active{
  display: block !important;
}

.nav__bar__mobile{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;

  @media(max-width: $md-width){
      flex-direction: column !important;
      text-align: center;
      align-items: center;
      display: none;
    }
}

.socials{
   margin-top: -140px;

  @media(max-width: $md-width){
        margin-top: 0px;
    }
}
