nav{
  background-color: $black;

  ul{
     list-style-type: none;
  }

  li a{
    color: $white;
    font-size: 23px;
    text-decoration: none;

    @media(min-width: $sm-width){
    flex-direction: column !important;
    }
  }
}

.nav{
  a{
     padding-bottom: 5px;
  }

  a:hover{
     color: $red !important;
     transition: 0.5s ease-in;
  }
}
