footer{
  background: rgb(247,13,26);
  background: linear-gradient(10deg, rgba(247,13,26,1) 0%, rgba(0,0,0,1) 39%);
  color: $white;

  @media(min-width: $sm-width){
    padding-top: 50px;
  }

  .footer__terms, h2{
    font-size: 22px;
  }

  .footer{

      &__contact{
       margin-left: 10px;
       font-size: 18px;
      }

        &__contact-email{
       margin-left: 6px;
       font-size: 18px;
      }

        &__links{
        color: $white;
        text-decoration: none;
        font-size: 18px;
        }

        &__links:hover, :focus{
        color: $red !important;
        transition: 0.2s ease-in;
        }

       &__responsive__lg{
          @media(min-width: $md-width){
             padding: 50px 0 50px 0;

          @media(min-width: $sm-width){
            padding: 70px 0 120px 0;
        }
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .mail__logo{
    font-size: 20px;
  }

  .phone__logo{
     font-size: 20px;
  }
}

.facebook , .instagram{
  color: $white;
  font-size: 30px;
  margin: 0 10px 20px 0;

  :hover, :focus{
     color: $red !important;
     transition: 0.2s ease-in;
  }
}
