footer{
  background-color: $black;
  color: $white;
  border-top: solid red 5px;


  @media(min-width: $sm-width){
    padding-top: 50px;
  }

  .footer__terms, h2{
    font-size: 22px;
  }

  .footer{
       &__responsive__lg{
          @media(min-width: $md-width){
             padding: 50px 0 50px 0;

          @media(min-width: $sm-width){
            padding: 70px 0 120px 0;
        }
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li a{
    color: $white;
    text-decoration: none;
    pointer: cursor;
    font-size: 18px;
  }


  .mail__logo{
    font-size: 28px;
  }

  .phone__logo{
     font-size: 20px;
  }
}

.facebook , .instagram{
  color: $white;
  font-size: 30px;
  margin: 0 10px 20px 0;
}
