.blog__card {
  width: 100%;
  height: 102%;
  background: rgb(0, 0, 0);
  background: linear-gradient(10deg, rgba(0, 0, 0, 1) 18%, rgba(247, 13, 26, 1) 81%);
  color: $white;
  -webkit-box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
  border-radius: 2%;

  &__image {
    width: 100%;
    height: 320px;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    object-fit: cover;
  }
}