.masthead {

  background-color: $black;
  padding-top: -20px;
  width: 100%;
  color: $white;

  &__text {
    padding: 10px 10px 0 0;

    @media(max-width: $lg-width) {
      padding: 5px 10px;
    }
  }

  &__btn {
    background-color: $black;
    padding: 5px 20px;
    color: $white;
    font-size: $font-s;
    margin-right: 20px;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid $red;
  }

  &__btn:hover,
  &__btn:focus {
    background-color: $white;
    color: $black;
    transition: 0.5s ease-in;
  }

  &__btn-solid {
    background-color: $red;
    padding: 5px 25px;
    color: $white;
    font-size: $font-s;
    margin-right: 20px;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid $red;
  }

  &__btn-solid:hover,
  &__btn-solid:focus {
    background-color: $white;
    color: $black;
    transition: 0.5s ease-in;
  }

  h2 {
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: $white;
  }

  p {
    margin: 20px 20px 20px 0;
    font-size: 14px;
    line-height: 25px;
    color: $white;
  }

  &__img {
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
    object-fit: cover;
    margin-top: -8px;
    border-radius: 2%;
  }
}