.masthead {

  background-color: $black;
  padding-top: -20px;
  width: 100%;
  overflow: hidden;

  &__text {
    padding: 30px 10px 0 0;

    @media(max-width: $lg-width) {
      padding: 5px 10px;
    }
  }

  &__btn:hover, &__btn:focus{
     background-color: $white;
     color: $black;
     transition: 0.5s ease-in;
  }


  h2 {
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    color: $white;
  }

  p {
    margin: 40px 0 50px 0;
    font-size: 14px;
    line-height: 25px;
    color: $white;
  }

  a {
    background-color: $black;
    padding: 5px 30px;
    letter-spacing: 1px;
    color: $white;
    font-size: 18px;
    margin-right: 20px;
    border-radius: 3px;
    text-decoration: none;
    border: 2px solid $red;

    @media(max-width: $md-width) {
      padding: 10px 10px;
    }
  }


  &__img{
    width: 135%;
    overflow: visable;
    width: 130%;
    height: 450px;
    margin-bottom: 50px;
    object-fit: cover;
  }
}
