// Colours
$lightBlack: #000;
$black: #000;
$white: #fff;
$grey: #F7F7F7;
$red: #f70d1a;
// $newGrey: #545b62;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Sofia&display=swap');
$secFont: 'Sofia', cursive;
$mainFont:  'Montserrat', sans-serif;

$font-s: 18px;
$font-l: 22px;
$font-xl: 26px;
$font-xxl: 32px;

// Media queries

$xl-width: 1100px;
$lg-width: 900px;
$md-width: 768px;
$sm-width: 550px;

// Global styles

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: $mainFont
}

  h1, h2, h5{
      border-left: $red 5px solid;
      padding-left: 5px;
  }

// buttons

.btn__main{
    background-color: $black;
    padding: 5px 30px;
    letter-spacing: 1px;
    color: $white;
    font-size: 18px;
    margin-right: 20px;
    border-radius: 3px;
    text-decoration: none;
    border: 2px solid $red;

      &:hover, &:focus{
     background-color: $white;
     color: $black;
     transition: 0.5s ease-in;
    }
}

  .secondary__btn{
    background-color: $red;
    padding: 10px 50px;
    color: $white;
    text-decoration: none;
    border-radius: 2px;
    border: solid 1px $white;
    }


// components

@import "../components/Header/Navbar.scss";
@import "../components/Masthead/Masthead.scss";
@import "../components/Footer/Footer.scss";
@import "../components/Footer/BaseFooter.scss";
@import "../components/Text/Text.scss";
@import "../components/Image/ImagePartial.scss";
@import "../components/Blog/BlogCard.scss";
@import "../components/ContactForm/ContactForm.scss";
@import "../components/Skeleton/Skeleton.scss";
@import "../components/Strapline/Strapline.scss";
@import "../components/InfoCard/InfoCard.scss";


//pages
@import "../pages/policy.scss";
@import "../pages/Blog/grid.scss";
@import "../pages/Blog/blog.scss";
@import "../pages/404.scss";
